* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto Slab", serif;
    line-height: 1.6;
    background-color: black;
    color: #f4f4f4;
}

.logo-title {
    background-color: #EF45D5;
    font-family: 'Yellowtail', cursive;
    font-size: 150px;
    margin-bottom: 5px;
}

.container {
    width: 90%;
    margin: 0 auto;
}

header {
    background-color: black;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.header-content h1 {
    font-size: 70px;
    margin-bottom: 20px;
}

.header-content p {
    font-size: 18px;
    margin-bottom: 20px;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.menu-icono {
    width: 40px;
    height: 40px;
    padding-top: 20px;
}

.navdrive ul {
    list-style: none;
    display: flex;
}

.navdrive ul li {
    margin: 0 12px;
}

.navdrive ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.navdrive ul li a:hover {
    color: #EF45D5;
}

.menu > .navdrive {
    border-bottom: 2px solid #EF45D5;
}

.seccion-drive {
    padding: 50px 0;
    background-color: black;
    text-align: center;
}

.seccion-drive img {
    width: 100%;
    max-width: 600px;
    margin-bottom: 20px;
}

.drive-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-family: 'Yellowtail', cursive;
    text-align: center;
}

.drive-content p {
    font-size: 16px;
    line-height: 1.6;
    color: #f4f4f4;
    font-family: 'Roboto Slab', serif;
}

.drive-content h2 {
    font-size: 28px; 
    margin-bottom: 10px;
    font-family: 'Roboto Slab', serif;
}

.txt-p {
    font-family: "Roboto Slab", serif;
    font-size: 16px;
    margin-bottom: 20px;
}

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contenido img {
    width: 100%;
    max-width: 300px; 
    margin-bottom: 20px;
}

.txt-3, .txt-2, .txt-4 {
    font-family: "Roboto Slab", serif;
}

.txt-3, .txt-2, .txt-4 {
    font-family: "Roboto Slab", serif;
}

.contenido h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.ficha-tecnica ul {
    font-family: 'Roboto Slab', serif;
    font-size: 16px;
    line-height: 1.6;
    color: #f4f4f4;
    list-style-type: disc;
    margin-left: 20px;
}

.ficha-tecnica ul li:nth-child(odd) {
    background-color: #333;
}

.ficha-tecnica ul li:nth-child(even) {
    background-color: #444;
}

.footer a:focus {
    outline: 2px solid #EF45D5;
}

.footer a:hover {
    background-color: #444;
}

.footer {
    background-color: #EF45D5;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.footer a {
    display: inline-block;
    font-family: 'Roboto Slab', serif;
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.footer h3 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer ul {
    list-style: none;
}

.footer ul li {
    margin: 5px 0;
}

.footer ul li a {
    color: white;
    text-decoration: none;
}

.footer ul li a:hover {
    color: black;
}

.logo {
    width: 150px;
    height: auto;
    position: absolute;
    top: 10px;
    left: 10px;
}

.ficha-tecnica {
    background-color: black;
}

.fichaGosling {
    background-color: #81006d;
}

.fichaCristina {
    background-color: #400237;
}

.fichaActor {
    font-size: 0.8em;
    background-color: #20071e;
}

/*PRIMERA LETRA DE COLOR DIFERENTE*/

/*p::first-letter {
    font-size: 2em;
    color: #EF45D5;
}*/

::selection {
    background-color: #EF45D5;
    color: white;
}

.imagenesFormato {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.imagen-item {
    text-align: center;
    margin-bottom: 20px;
    width: 80%;
}
.imagen-preview {
    width: 80px;
    max-width: 200px;
    height: auto;
    display: block;
    margin: 0 auto;
} 

/*TRANSICIÓN PARA EL MENÚ DE ARRIBA SE PONGA ROSA CADA ELEMENTO AL PASAR EL RATÓN*/
.navdrive ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    background-color: transparent;
    transition: background-color 0.4s ease, color 0.2s ease; /* Dos transiciones */
}

.navdrive ul li a:hover {
    background-color: #EF45D5;
    color: black; /* Cambia el color del texto y el fondo */
}
/* EXPANDIR LOS BLOQUES DEL drive-content-container*/

.contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.5s ease;
}

.contenido:hover {
    transform: scale(1.05); /* Expande el bloque ligeramente */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Agrega una sombra */
}

/* SOLO GRID Y FLEX PARA LOS 4 ELEMENTOS DEL INDEX.HTML*/

.drive-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    text-align: center;
}

.drive-grid .contenido {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* FADE IN ANIMACIÓN */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

.fade-in {
    animation: fadeIn 2s ease-in-out;
}

/* SUAVIZAR ANIMACIÓN */
.hover-opacity {
    transition: opacity 0.3s ease;
}

.hover-opacity:hover {
    opacity: 0.8;
}
/* TRANSICION HOVER-LIFT PARA EL MENÚ DE ARRIBA SUBA LIGERAMENTE*/
.hover-lift {
    transition: transform 0.3s ease;
}

.hover-lift:hover {
    transform: translateY(-5px);
}
/*FLEX Y GRID PARA videos.html*/
/* Contenedor para organizar en filas */
.grid-row {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    margin-bottom: 40px;
}

/* Estilo para cada elemento de video y audio */
.video-audio-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

/* Ajusta el tamaño de los videos y audios */
video, audio {
    width: 100%;
    max-width: 400px;
    margin-bottom: 10px;
}

.imagenesFormato h1 {
    text-align: center;
    margin-top: 20px;
}


/* ESTILO DEL A HREF DEL INDEX.HTML */
.contenido a {
    color: inherit; /* Hereda el color del elemento padre */
    text-decoration: none;
}

.contenido a:hover {
    color: inherit; /* Mantiene el color al pasar el ratón */
    text-decoration: none;
}